


.head {
    padding-bottom: 4%;
    padding-top:12%;
}

.head .title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
    color: black;
}

.head .title span:last-child {
    color: #62af04;
}

.main {
    margin-top: -2px;
    background-color: #f4d630;
    min-height: 18rem;
    padding-top: 1px;
    padding-bottom: 1px;
}

.main .item {
    color: black;
    display: block;
    width: 90%;
    height: 6rem;
    margin: 1.5rem auto;
    background-color: white;
    border-left: black .3rem solid;
}

.main .item > div {
    display: inline-block;
}

.main .logoArea {
    height: 100%;
    width: 30%;
    position: relative;
}

.main .logoArea img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main .item .rightArea {
    float: right;
    width: 70%;
    font-size: 1.0rem;
    line-height: 1.7rem;
    position: relative;
    margin: .5rem auto;
}

.main .item .line1 .comName {
    max-width: 70%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 100%;
    vertical-align: middle;
}

.main .item .line1 .position {
    font-size: 1rem;
    display: inline-block;
    width: 30%;
    text-align: center;
    height: 100%;
    background-color: #f58732;
    color: white;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .item .line2 {
    font-weight: 700;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.main .item .line3 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.main .loadingArea {
    text-align: center;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 1rem;
}

.bottom {
    background-color: black;
    margin-top: -.8rem;
    padding-top: 1px;
    padding-bottom: .8rem;
    min-height: 5.5rem;
}

.bottom .botInner {
    width: 100%;
    position: fixed;
    bottom: 1rem;
    z-index: 10;
}

.bottom a {
    display: block;
    color: white;
    background: url('../img/third_share.png') no-repeat center;
    background-size: contain;
    width: 80%;
    height: 4rem;
    margin: auto;
}

.backTop {
    display: none;
    position: fixed;
    bottom: 4.2rem;
    right: 1rem;
    background: url('../img/backTop.png') no-repeat center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

.n {
    margin-top: -10%;
    padding-top: 5%;
    position: relative;
}

.n_left {
    position: absolute;
    top: 23%;
    left: 5%;
    width: 45%;
}

.n_right {
    position: absolute;
    top: 23%;
    left: 50%;
    width: 45%;
}
html{
    background-color: #9b48ff;
    display: block;
    min-height: 1000px;
    min-width: 100px;
}