*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    background-color: #f6f6f6;
}
a{
    color: #878787;
    text-decoration: none;
}

#wrap{
    display: block;
    max-width: 987px;
    margin: auto;
    background-color: white;
    padding: 2%;

}
#head{
    font-size: 12px;
    line-height: 55px;
    margin-bottom: -12px;
}
#head .logo{
    background: url("../../img/logo.png") no-repeat center;
    width: 208px;
    height: 40px;
    float: right;
}
#main{
    width:60%;
    margin: 3% auto 0 auto;
}
#main .top{
    width:100%;
    margin: auto;
}
#main .top .head{
    width:100%;
    margin: auto;
}
#main .top .textHead{
    width:100%;
    margin: auto;
}
#main .textHead a{
    color: #07619F;
    font-size: 1.5em;
    display: block;
    width: 120px;
    margin: auto;
}
#main .head img{
    margin-left: 36%;
    display: inline-block;
}
#main .head a{
    padding-left:2%;
    color: #07619F;
    font-size: 1.5em;
    display: inline-block;
}
#main .top .line{
    width:100%;
    margin: auto;
}
.line img{
    width: 100%;
    display: inline-block;
    height: 1%;
}
#middle{
    min-height: 100px;
    border: 1px solid #d2d2d2;
}
#footer{
    font-size: 12px;
    color: #878787;
    margin-top: 10px;
}
.commonArea{
    margin-bottom: 30px;
}
.commonArea>div{
    color: #3f5f90;
    font-size: 21px;
    width: 98%;
    margin: auto;
    margin-top: 10px;
}
.commonArea>img.bg{
    display: block;
    width: 98%;
    margin: auto;
}
.commonInput{
    width:45%;
    min-width:250px;
    margin: auto;
    height: 45px;
    position: relative;
}
.commonInput input{
    width:97%;
    margin: auto;
    color:black;
    background-color:#F5F5F5;
    height: 35px;
    border:none;
    font-size: 15px;
    padding-left: 3%;
}
#main .pswInput img{
    top: 10px;
    right: 3px;
    position: absolute;
    float: right;
}
#main .verCode{
    width:45%;
    min-width:250px;
    margin: auto;
    height: 45px;
}
.commonBtnArea{
    width:45%;
    margin: auto;
    min-width:250px;
}
.commonBtnArea .commonBtn{
    width:100%;
}
.blue_btn{
    border:none;
    color:#F6F6F6;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    background-color:  #08609e;
}
.red{
    color:red;
}