.commit_success .content{
    width: 100%;
    margin: auto;
}
.commit_success .content .text {
    min-width: 300px;
    position: relative;
    margin: auto;
    margin-top: 8%;
}
.commit_success .text_head{
    margin-top: 4%;
    position: relative;
    text-align: center;
}
.commit_success .content .successImg {
    position: relative;
    display: inline-block;
    width: 50px;
    margin-top: -8px;
}
.commit_success h2{
    color: red;
    padding-bottom: 7%;
    width: 240px;
    display: inline-block;
    vertical-align: top;

}
.commit_success p{
    font-size: 14px;
    color:#8B8B8B;
    padding-bottom: 2%;
    line-height: 25px;
}
.commit_success .btnArea{
    margin: auto;
    margin-top:10%;
    padding-bottom: 5%;
    text-align: center;
}
.commit_success .selectBtn{
    border: none;
    color: #F6F6F6;
    text-align: center;
    width: 140px;
    line-height: 35px;
    display: inline-block;
    background-color: #08609F;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;

}
.commit_success .remind{
    font-size: 13px;
}
.commit_success .time{
    color:#F18509;
}
