.infFill {
    min-width: 600px;
    padding-bottom: 5%;
}
.infFill .content {
    width: 100%;
    margin: auto;
}

.infFill  .heading{
    width: 90px;
    color:red;
    font-size: 14px;
    margin:auto;
}
.infFill .selectArea{
    color: #878787;
    font-size: 13px;
    padding-top: 3%;
    width: 100%;
    height: 30px;
    padding-bottom: 2%;
    text-align: center;
}
.infFill .content .selectArea input{
    display: inline-block;
    margin-left: 3px;
    padding-left: 20px;
}
.infFill .content .selectArea p{
    display: inline-block;
    margin: auto;
}
.infFill .content .input_area{
    width: 600px;
    margin: auto;
    margin-top:2px;
    height: 38px;
    font-size: 14px;

}
.infFill .content .input_area .radio_style{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 13px;
}
.infFill .content .input_area .fir_radio_style{
    margin-left: 13px;
}
.infFill .content .input_area .input_value{
    font-size: 14px;
    margin-left: 5px;
}

.infFill .content .inf_span{
    display: inline-block;
    margin: auto;
    width:130px;
    font-size: 14px;
    text-align: right;
}
.infFill .content .inf_input{
    margin-left: 10px;
    text-indent: 8px;
    font-size: 14px;
    width: 320px;
    height: 38px;
    line-height: 38px;
    color:black;
    background-color:#F5F5F5;
    border:none;
}

.infFill .content .time_input{
    width: 100px;
}
.infFill .content .second_member{
    margin-top: 50px;
}
.infFill .content .add_member_btn{
    width: 130px;
    margin: auto;
    margin-top: 35px;
    cursor: pointer;
}
.infFill .content .topic_area{
    height: 85px;
    margin-top: 40px;
}
.infFill .content .topic_text{
    height: 50px;
    margin-top: 5px;
    width:140px;
}
.infFill .content .choose_topic{
    height: 80px;
    display: inline-block;
    width: 320px;
    margin-top: 4px;
    margin-left: 10px;
    position: absolute;
    font-size: 13px;
}
.infFill .content .choose_topic .input_icon{
    margin-top: 4px;
}
.choose_topic ul li{
    list-style: none;
    width: 315px;
}
.choose_topic ul li input{
    visibility: hidden;
}
.choose_topic ul li label{
    cursor: pointer;
}
.choose_topic .first_a,.choose_topic .second_a{

    font-size: 13px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
}
.choose_topic .first_a{
    width: 100%;
}
.choose_topic .second_a{
    width: 100%;
}

.choose_topic .a_style2{
    background-color:#F6F6F6;
    color:#65B2E0;
    text-align: left;
    text-indent: 10px;
}
.infFill .content .choose_topic .a_style1{
    background-color:  #65B2E0;
    color:#F6F6F6;
}
.infFill .content .getInf_area{
    height: 180px;
}
.infFill .btnArea{
    width:100%;
    text-align: center;
}
.infFill .selectBtn{
    border:none;
    color:#F6F6F6;
    text-align: center;
    width: 160px;
    line-height: 35px;
    display: inline-block;
    background-color: #08609F;
    font-size: 14px;
    cursor: pointer;
    margin-left:10px ;
    vertical-align: middle;

}
.infInnovation .content .inf_span,.infInnovation .content .topic_text{
    width:220px
}

label{
    display: inline-block;
    *zoom:1;
    *display: inline
}
.choose_topic .top_a{
    width: 100%;
}
.top_a_label{
    width: 100%;
}
.top_a_label input,.left_label input,.right_label input{
    /*visibility: hidden;*/
    position: absolute;
}
.left_label{
    position: relative;
    width: 40%;
}
.right_label{
    position: relative;
    width: 60%;
}

#sheng12,#school1,.schools{
    margin-left: 10px;
    text-indent: .5rem;
    width: 20%;
    height: 38px;
    color: black;
    background-color: #F5F5F5;
    border: none;
}
#school1,.schools{
     margin-left: 2px;
     width: 33%;
 }