.infPreview{
    padding-bottom: 5%;
    min-width: 500px;
}
.infPreview .content{
    width: 100%;
    margin: auto;
}
.infPreview .preview_textHead{
    width:100%;
    margin: auto;
}
.infPreview .preview_textHead a{
    color: #07619F;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 25px;

}
.infPreview .textArea{
    width: 500px;
    margin: auto;
    font-size: 14px;
    color: #8B8B8B;
}
.infPreview .txt{
    display: inline-block;
    width:240px;
}
.infPreview .textArea .title1{
    width: 80px;

}
.infPreview .textArea .title2{
    width: 80px;
    margin-left: 10px;

}
.infPreview .textArea .infText1,.infPreview .textArea .infText2{
    width: 160px;
    display: inline-block;
    margin-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.infPreview .first_man ,.infPreview .second_man ,.infPreview .third_man ,.infPreview .other{
    margin-top: 20px;
}
.infPreview .other{
}
.infPreview .btnArea{
    width:100%;
    margin-left:20% ;
}
.infPreview .selectBtn{
    border:none;
    color:#F6F6F6;
    text-align: center;
    width: 160px;
    line-height: 35px;
    height: 35px;
    display: inline-block;
    background-color: #08609F;
    font-size: 14px;
    cursor: pointer;
    margin-left:10px ;
    vertical-align: middle;
}
.infPreview .btnArea{
    margin: 45px auto;
    text-align: center;
}
.infPreview .textArea .other_infText1{
    display: inline-block;
    width:350px ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    vertical-align: top;
}