.register .content{
    width: 100%;
}
.register .content .heading{
    color:red;
    font-size: 14px;
    margin: auto;
    margin-top: 1%;
    text-align: center;
}
.register .selectArea{
    color: #878787;
    font-size: 12px;
    padding: auto;
    padding-top: 3%;
    width: 100%;
    /* min-width: 250px; */
    /* height: 35px; */
    margin: auto;
    padding-bottom: 2%;
    display: inline-block;
    text-align: center;
}
.register .choice{
    margin-top: 1%;
    display: inline-block;
}
.register .selectArea p{
    display: inline-block;
}
#registerBtn{
    margin-top: 3%;
}
.register .goLogin{
    font-size: 12px;
    padding-top:2%;
    width: 45%;
    max-width:350px;
    height: 30px;
    margin: auto;
}
.goLogin a{
    color:#1367A3;
}
.register .input_remind{
    color:#878787;
    font-size: 12px;
    width: 45%;
    height: 28px;
    max-width:350px;
    margin: auto;
    text-align: left;
    vertical-align: top;
    margin-top: -10px;

}
.register .heading span{
    display: none;
}