.success .content{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
}
.success .content .successImg{
    display: inline-block;
    width: 40px;
    margin-top: -8px;

}
.success .content .text{
    width: 300px;
    position:relative;
    margin:auto;
    margin-top: 8%;
}
.success .text_head{
    margin-top: 4%;
    position: relative;
}
.success h2{
    display: inline-block;
    color: red;
    padding-bottom: 7%;
    vertical-align: top;

}
.success p{
    font-size: 14px;
    color: #8B8B8B;
    padding-bottom: 2%;
    line-height: 25px;
    text-align: left;
}
.success span{
    color:#1367A3;
    font-size: 14px;
}
.success .IDinput{
    width:61%;
    margin: auto;
    color:black;
    background-color:#F5F5F5;
    height: 30px;
    border:none;
    font-size: 15px;
    padding-left: 3%;
}
.success .QRCode{
    position: static;
    display: block;
    margin: auto;
    padding-bottom: 4%;
}
.success .time{
    color:#F18509;
}
.success .btnArea{
    width:100%;
    padding-bottom: 5%;
}
.success .selectBtn{
    border:none;
    color:#F6F6F6;
    text-align: center;
    width: 140px;
    line-height: 35px;
    display: inline-block;
    background-color: #08609F;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
}