#content .topText, #content .code, #content .botText {
    width: 535px;
    margin: auto;
    font-size: 14px;
    color: #444444;
}
#content .topText{
    line-height: 50px;
}
#content .topText .middle{
    text-indent: 30px;
}
#content .code{
    width:100%;
    text-align: center;
}
#content .code>*{
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin: 0 10%;
}
#content .code img {
     width: 150px;
}
#content .code>span>div{
    font-size: 12px;

}
#content .botText {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: right;
    line-height: 30px;
}
#content .buttons{
    width: 70%;
    min-width: 600px;

    margin: auto;
    text-align: center;
}
#content .buttons >a{
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin: 0 3%;
    width: 25%;
    text-align: center;
    border-radius:3px ;
    line-height: 30px;
    margin-bottom: 60px;
}
#content .buttons .blue{
    border: 2px #08609e solid;
    font-size: 16px;
    font-weight: bold;
}
#content .buttons .white{
    background-color: white;
    border: 1px #08609e solid;
    font-size: 16px;
    font-weight: bold;
}