.work_commit{
    min-width: 500px;
    padding-bottom: 5%;
}
.work_commit .content{
    width: 100%;
    margin: auto;
}
.work_commit .commit_title{
    width: 100%;
    margin: auto;

}
.work_commit .content .tick{
    display: inline;
    margin-left: 25%;
    width: 10%;
}

.work_commit .content .text{
    position:relative;
    width:300px;
    margin-left: 37%;
    margin-top: -9%;
}
.work_commit h2{
    margin-top: 1%;
}
.work_commit .title_fir span{
    color:red;
}
.work_commit .title_sec{
    margin-left: -12%;
    padding-bottom: 4%;

}
.work_commit .work_information{
    width: 100%;
    margin-top: 5%;
    text-align: center;
}
.work_commit .title{
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.work_commit .content .input_area{
    width: 100%;
    height: 38px;
    margin: auto;
    margin-top: 2px;
}
.work_commit .content .inf_span{
    display: inline-block;
    margin: auto;
    width: 10%;
    font-size: 13px;
    text-align: right;
    vertical-align: top;
    line-height: 38px;
}
.work_commit .content .half_input1{
    margin-left: 10px;
}
.work_commit .content .half_input{
    padding-left: 8px;
    width: 177px;
    height: 38px;
    color:black;
    background-color:#F5F5F5;
    border:none;
}
.work_commit .content .inf_input{
    margin-left: 6px;
    padding-left: 8px;
    width: 49%;
    height: 38px;
    color: black;
    background-color: #F5F5F5;
    border: none;
    vertical-align: middle;
}
.a-upload {
    margin-left: 10px;
    padding-left: 8px;
    width: 49%;
    line-height: 38px;
    color: #a3a3a3;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background:#F5F5F5 url("../../img/uploadFileCloud.png")  right no-repeat;
}
#tiaozan{
    width: 50%;
}
.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    background:#eee url("../../img/uploadFileCloud.png")  right no-repeat;

    color: #707070;
    border-color: #ccc;
    text-decoration: none
}


.work_commit .content .text_area{
    height: 120px;
}
.work_commit .content .inf_textArea{
    margin-left: 10px;
    padding-left: 8px;
    width: 49%;
    height: 120px;
    color: black;
    background-color: #F5F5F5;
    border: none;
    margin-bottom: 10%;
}
.work_commit .btnArea{
    margin-top: 10%;
    width: 100%;
    text-align: center;
 }
.work_commit .selectBtn{
    border:none;
    color:#F6F6F6;
    text-align: center;
    width: 160px;
    line-height: 35px;
    display: inline-block;
    background-color: #08609F;
    font-size: 14px;
    cursor: pointer;
    margin-left:10px ;
    vertical-align: middle;
}
.tip{
    text-align: center;
    line-height: 37px;
    color: #a3a3a3;
    font-size: 12px;
    width: 100%;
    border: none;
    vertical-align: middle;
}