#content {
    width: 100%;
    margin: auto;
    text-align: center;
}
#content div:first-child{
    font-size: 1.5rem;
    color:#08609e;
}
#content  .inputEmail{
    margin : 1rem auto 10rem auto;
}
#content  .inputEmail>span{
    font-size: 1rem;

}
.line{
    width: 90%;
    margin: auto;
}
#content  .inputEmail>span:first-child {
    color: red;
    line-height: 1rem;
}
#content  .inputEmail .email{
    display: inline-block;

    width: 65%;
    height: 3rem;
    outline: none;
    background-color: #f5f5f5;
    color: rgb(153, 153, 153);
    padding-left: 1rem;
    border: none;
    font: 1rem/1.5rem Microsoft YaHei, Helvetica, Tahoma;
}
#content .buttons{
    width: 80%;

    margin: auto;
    text-align: center;
}
#content .buttons >*{
    display:  block;
    width: 100%;
    text-align: center;
    border-radius:3px ;
    margin-bottom: 1rem;
    font: 1.2rem/2.5rem Microsoft YaHei, Helvetica, Tahoma;
    outline: none;
}

