.infInnovation .content{
    width: 90%;
}
.infInnovation .content .input_area .binary_choose{
    display: block;
    width: 100%;
}
.infInnovation .content .team_number .inf_span{
    width:34%;
}
.infInnovation .content .team_number .inf_input{
    width:58%;
}