.infPreview .content {
    width: 100%;
    margin: auto;
}

.infPreview .preview_textHead {
    width: 100%;
    margin: auto;
}

.infPreview .preview_textHead a {
    color: #07619F;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
}

.infPreview .textArea {
    margin: auto;
    font-size: 1rem;
    color: #8B8B8B;
    width: 98%;
    margin-top: 1px;
}

.infPreview .txt {
    display: block;
}

.infPreview .textArea .title1 {
    width: 23%;
    color: #474747;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.infPreview .textArea .title2 {
    color: #474747;
    display: inline-block;
    width: 23%;
    text-align: right;
    vertical-align: middle;
}

.infPreview .textArea .infText1, .infPreview .textArea .infText2 {
    width: 76%;
    margin-left: 2px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

}

.infPreview .first_man, .infPreview .second_man, .infPreview .third_man, .infPreview .other {
    margin-top: 20px;
}

.infPreview .other {
}

.infPreview .other .second_inf {
    margin-top: 1rem;
}

.infPreview .other .other_infText1 {
    display: block;
    width: 65%;
}

.infPreview .btnArea {
    margin: 2rem auto;
    width: 19rem;
}

.infPreview .selectBtn {
    border: none;
    color: #F6F6F6;
    text-align: center;
    width: 19rem;
    line-height: 35px;
    display: inline-block;
    background-color: #08609F;
    font-size: 1.2rem;
    cursor: pointer;
    margin: auto;
    margin-top: 1rem;
}

.infPreview .textArea .other_infText1 {
    display: inline-block;
    width: 58%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    vertical-align: top;
}

.infPreview .textArea .other_infTextM {
    display: block;
    width: 99%;

}

.infPreview .textArea .titleM {
    width: 93%;
    text-align: left;
}
.infPreview .textArea .title1M{
    width: 40%;
    vertical-align: top;
}