.register .content{
    width: 100%;
}
.register .content .heading{
    width: 100%;
    min-width: 57px;
    color: red;
    font-size: 14px;
    margin: auto;
    margin-top: 1%;
    text-align: center;
}
.register .selectArea{
    color: #878787;
    font-size: .4em;
    width: 80%;
    min-width: 250px;
    margin: auto;
    margin-top: 1rem;
    height: 45px;
    vertical-align: middle;
}
.register .choice{
    margin-top: 1%;
    display: inline-block;
}
.register .selectArea p{
    display: inline-block;
}
#registerBtn{
    margin-top: 3%;
}
.register .goLogin{
    font-size: 12px;
    padding-top:2%;
    width: 80%;
    min-width: 250px;
    height: 30px;
    margin: auto;
}
.goLogin a{
    color:#1367A3;
}
.register .input_remind{
    color:#878787;
    font-size: 12px;
    width: 80%;
    min-width: 250px;
    margin: auto;
    text-align: left;
    vertical-align: top;
    margin-top: -10px;

}
.register .selectArea label{
    display: inline-block;
}
.register .commonInput{
    width: 80%;
    height: 3.5rem;
}
.register .commonInput input{
    height: 2.8rem;
}
.register .commonBtnArea{
    width:80%;
}