#content>div{
    width: 100%;
    text-align: center;
    margin-top: 6rem;
}
#content>div>span {
    text-align: left;
    font-size: 1.5rem;
    width: 72%;
    line-height: 2rem;
    display: inline-block;
    word-wrap: break-word;
    color: #08609e;
    vertical-align: middle;
}
#content img{
    width: 15%;

    vertical-align: middle;
    margin-right: 1%;
}